# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Build
dist/
build/
*.spec

# Datos de la aplicación
data/
*.log
output/

# Sistema
.DS_Store
Thumbs.db

# config
config/
config/sistema_config.json

# C#
C#/
